* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.background {
    background: radial-gradient(117.05% 359.21% at 3.89% 50%, #0D111C 0%, #1E2234 38.08%, #252736 72.83%, #443840 100%);
    width: 100%;
    height: 100%;
}